
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

/* Navbar */
.nav-wrapper {
    background-color: #202020;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: xx-large;
}

.brand-logo {
    width: 60px;
    height: auto;
}

.button1 {
    background-color: #A4816D; 
    color: white;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown-content {
    background-color: #202020;
    color: #FFFFFF;
    display: none;
    position: absolute;
    min-width: 250px;
}

/* Sidenav Structure */
.sidenav {
    background-color: #202020;
    color: #FFFFFF;
}

.user-view {
    height: 150px;
    bottom: 0;
}

.logo-1 {
    position: absolute;
    top: 5px;
    right: 16px;
}

.name {
    color: #202020;
    text-align: right;
    position: absolute;
    bottom: 35px;
    right: 16px;

}

.email {
    color: #202020;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 16px;
    font-weight: 500;
}

.sidenav-text {
    color: white;
}


/* Main */

.box1 {
    background-color: #202020;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    margin: 10px;
    padding: 25px;
    bottom: 0px;
    right: 16px;
    font-weight: 500;
}


/* Footer */
.page-footer {
    background-color: #202020;
}


.logo-2 {
    width: 250px;
    
}

.text1 {
    color: #A4816D;
    text-align: left;
    font-family: Pristina;
    font-weight: 500;
    font-size: x-large;
}

.text2 {
    color: #A4816D;
    text-align: right;
    font-family: Pristina;
    font-weight: 500;
    font-size: x-large;
}

.text3 {
    text-align: right;
    color: white;
}

p {
    margin:0;
    padding:0;
}


/* Home Page */

.background-1 {
    background: url(Images/Background-1.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom: 0;
    padding-left: 0;
}

.h3-home {
    background-color: #202020;
    width: 400px;
    justify-content: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0;
    text-align: center;
    font-family: Pristina;
}

.h5-home {
        background-color: #202020;
        justify-content: center;
        width: 400px;
        margin: 0;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;

}


.background-2 {
    background: url(Images/Background-1.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom: 0;
    padding-left: 0;
}



h3 {
    background-color: #202020;
    justify-content: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
    font-family: Pristina;
}

h5 {
    background-color: #202020;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.intro {
    margin: 0;
    padding-bottom: 0;
}

.home-intro {
    background-color: #E3D1C5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-image1 {
    padding: 30px
}

.home-title {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-family: Pristina;
}

.home-content1 {
    color: #202020;
    text-align: justify;
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

.home-content2 {
    color: #202020;
    text-align: justify;
    font-size: larger;
    padding-top: 0;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.home-services {
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-sv {
    background-color: #202020;
padding: 20px;
}

.home-font1 {
    color: white;
    padding: 0;
    margin: 0;
}

.home-font2 {
    color: #A4816D;
    padding: 0;
    margin: 0;
}

.home-font3 {
    color: #202020;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.home-font4 {
    color: #A4816D;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.home-tools {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;

}

.tool-font1 {
    background-color: white;
    color: #202020;
    margin: 0;
    text-align: center;
    max-width: 100%;
    position: relative;
    font-family: Pristina;
}


.photo-gallery {
    display: flex;
    gap: 20px;

}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-gallery .column img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;

}

@media(max-width:600px){
    .photo-gallery{
        flex-direction: column;
    }
}



.divider {

    margin-left: 5px;
}

.services-layout {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.services-card {
    background-color: #202020;
}

.service-img {
    height: 50px;
    width: auto;
}

.services {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #A4816D;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: larger;
}


.service-content {
    color: aliceblue;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}


.home-end {
    background-color: #A4816D;
    padding-top: 25px;
    padding-bottom: 25px;
}


.home-text1 {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: right;
}


.home-text2 {
    color: #202020;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 100;
}


.btn-end {
    background-color: #202020;
    color: #E3D1C5;
    font-family: 'Times New Roman', Times, serif;
}


.button2 {
    background-color: #202020; 
    color: white;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}


.button3 {
    background-color: #A4816D; 
    color: white;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}


.button4 {
    background-color: #202020; 
    color: #E3D1C5;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
}

/* About Page */

.background-3 {
    width: 100%;
    height: 200px;
    background-image: url(Images/Background-3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    color: #FFFFFF;
    font-family: Pristina;
    font-weight: 500;
    padding-bottom: 0;
    padding-left: 0;
}

.h3-about {
    background-color: #202020;
    width: 300px;
    justify-content: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
    font-family: Pristina;
}


.h5 about {
    background-color: #FFFFFF;
}
.about-intro{
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;

    
}


.about-image1 {
    float: left;
    height: 280px;
    margin-right: 20px;
    margin-left: 30px;
}

.about-content1 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 30px;
    padding-left: 30px;
    text-align: justify;
}


.about-ct {
    background-color: #A4816D;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-font1 {
    background-color: #A4816D;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

.about-font2 {
    background-color: #A4816D;
    color: #202020;
    padding: 0;
    margin: 0;
    text-align: center;
}

.about-skill {
    background-color: #202020;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-text1 {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}


.about-text2 {
    color: #A4816D;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 100;
    
}

.about-project {
    font-family: Pristina;
}

.certificate{
    position: relative;
}

.certificate .slide-container .slide{
    min-height: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.certificate .slide-container .slide .content{
    flex: 1 1 350px;
    animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}

.certificate .slide-container .slide .image{
    flex: 1 1 500px;
}

.certificate .slide-container .slide .image img{
    width: 100%;
    animation: slideImage .4s linear;
}


@keyframes slideImage{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
}


.certificate .slide-container .slide .content h3{
    font-size: 35px;
    background-color: #A4816D;
    color: #FFFFFF;
    text-align: left;
}
.certificate .slide-container .slide .content h6{
    font-size: 18px;
    background-color: #A4816D;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}

.certificate .slide-container .slide .content p{
    font-size: 16px;
    color: #202020;
    padding: 10px 0;
    font-style: italic;
}

.certificate .slide-container .slide .content p span{
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 0;
}

.certificate .slide-container{
    display: none;
} 

.certificate .slide-container.active{
    display: block;
}

.certificate #prev,
.certificate #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
    background: #202020;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

.certificate #prev:hover,
.certificate #next:hover{
    background: #A4816D;
}

.certificate #prev{
    left: 20px;
}


.certificate #next{
    right: 20px;
}







/* Portfolio */

.portfolio-font1 {
    background-color: #FFFFFF;
    color: #202020;
    padding: 0;
    margin: 0;
    text-align: center;
}

.portfolio-font2 {
    background-color: #FFFFFF;
    color: #A4816D;
    margin: 0;
    padding-left: 50px;
    padding-top: 0;
}



.portfolio{
    width: 100%;
    padding: 30px 8%;
    background-color: var(--body-clr);
}

.button-group{
    text-align: center;
    margin-bottom: 40px;
}

.button-group .button{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #A4816D;
    color: var(--primary-clr);
    font-family: 'Times New Roman', Times, serif;
    font-style: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.button-group .button.active{
    background-color: var(--primary-clr);
    color: var(--body-clr);
}

.button-group .button:hover{
    background-color: var(--primary-clr);
    color: var(--body-clr);
}

div.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.gallery .item{
    position: relative;
    margin: 4px;
    width: calc(33.33% - 8px);
    overflow: hidden;
    cursor: pointer;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

div.gallery .item:hover img{
    transform: scale(1.15);
}

.item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5,85,92,0.7);
    color: #FFFFFF;
    padding: 15px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.item:hover .overlay{
    opacity: 1;
}

.item .overlay a{
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid var(--body-clr);
    color: var(--body-clr);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.item .overlay a:hover{
    background-color: var(--body-clr);
    color: var(--primary-clr);
}


@media(max-width: 600px){
    div.gallery .item{
        width: calc(50% - 8px);
    }
}

@media(max-width: 600px){
    div.gallery .item{
        width: 100%;
        margin: 4px 0px;
    }
}



/* Timeline */

body{
    background: #FFFFFF;
}


.timeline-font1 {
    background-color: #FFFFFF;
    color: #202020;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-right: 1px;
}

::selection{
    color: #fff;
    background: #A4816D;
}

.wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #202020;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.wrapper .row{
    display: flex;
}

.wrapper .row-1{
    justify-content: flex-start;
}

.wrapper .row-2{
    justify-content: flex-end;
}

.wrapper .row section{
    background: #202020;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #202020;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before{
    right: -7px;
}

.row-2 section::before{
    left: -7px;
}

.row section .icon,
.center-line .scroll-icon{
    position: absolute;
    background: #202020;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #A4816D;
    font-size: 17px;
    box-shadow: 0 0 0 4px #202020, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon{
    top: 15px;
    right: -60px;
}

.row-2 section .icon{
    top: 15px;
    left: -60px;
}

.row section .details,
.row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}

.row section .details .title{
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
}

.row section p{
    margin: 10px 0 17px 0;
    color: #FFFFFF;
}

.row section .bottom a{
    text-decoration: none;
    background: #A4816D;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}

.row section .bottom a:hover{
    transform: scale(0.97);
}

@media(max-width: 790px){
    .wrapper .center-line{
    left: 40px;
}

.wrapper .row{
    margin: 30px 0 3px 60px;
}

.wrapper .row section{
    width: 100%;
}

.row-1 section::before{
    left: -7px;
}

.row-1 section .icon{
    left: -60px;
}

}

@media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
    display: none;
}
    .wrapper .row{
    margin: 10px 0;
    }
}












/* Contact Page */


body {
    margin: 0;
    padding: 0;
}

.text {
    width: 100%;
    height: 200px;
    background-image: url(Images/Background-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: Pristina;
    font-weight: 500;
}


.contact-text {
    background-color: #202020;
    color: #A4816D;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section {
    background-color: #A4816D;
}

.input-field {
    color: #202020;
    
}


container .text-box1 {
    margin-top: 0%;
    text-align: center;
    
}

.contact-1 {
    background-color: white;
    height: auto;

}

.contact-form {
    background-color: #A4816D;
    padding: 30px;
}

.H-Cform {
    font-family: Pristina;
    font-weight: 500;
}

.input-group {
    flex-basis: 45%;
}

input {
    color: #202020;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;

}


label {
    font-size: larger;
    color: #202020;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.contact-text2 {
    background-color: #202020;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-2 {
    color: #A4816D;
    font-family: Pristina;
    font-weight: 500;
    font-size: xxx-large;
}

.button5 {
    background-color: #202020; 
    color: #E3D1C5;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
}

